<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th scope="col"> Model</th>
        <th scope="col"> Colour</th>
        <th scope="col"> Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getModel()}">Model not available</td>
        <td th:text="${car.getColor()}">Color not available</td>
        <td th:text="${car.getYear()}">Year not available</td>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>